<div class="blog-login">
  <form
    nz-form
    [formGroup]="validateForm"
    class="blog-login-form"
    (ngSubmit)="login()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="请填写用户名">
        <nz-input-group nzPrefixIcon="user">
          <input
            type='text'
            nz-input
            formControlName="username"
            placeholder="Username"
          >
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="请填写密码">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="Password"
          >
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button
          nz-button
          class="blog-lgoin-form-button"
          [nzType]="'primary'"
        >Log in</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
