<div class="text-area">
  <div class="text-area-edit">
    <form>
      <div style="width: 100%; height: 100%;">
        <input name="title" [(ngModel)]="title">
        <textarea name="abstract" style="width: 100%; height: 50%" name="input" [(ngModel)]="abstract"></textarea>
        <textarea name="markdown" style="width: 100%; height: 50%" [(ngModel)]="markdown"></textarea>
      </div>
    </form>
  </div>
  <div class="text-area-show">
    <form>
      <div>文章题目： {{title}}</div>
      <div>摘要： {{abstract}}</div>
      <div style="width: 100%; height: 100%;">
        <markdown name="output" [data]='markdown'></markdown>
      </div>
    </form>
  </div>
<input type="file" accept="image/*" [(ngModel)]="pic" (change)="change()" multiple>
</div>
<button style="position: absolute; top: 0;" (click)="createArticle()">发送</button>
<button style="position: absolute; top: 50px;" (click)="createPictureForm()">图片</button>
